@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Prodcuts</h1>

<ul>
    @foreach(var product in (List<Task_2.Models.Product>)ViewData["prod"])
        {
            <li>ID : @product.Id</li>
            <li>Name : @product.Name</li>
            <li>Price : @product.price</li>
            <li>Description : @product.Description</li>
            <li>@product.Img</li>
            <li>CategoryId : @product.CategoryId</li>
        
        
        
        
        }
    

</ul>
