@model Product
 <h2>Products</h2>

 <ul>
    <li>ID: @ViewBag.Product.Id</li>
    <li>Name: @ViewBag.Product.Name</li>
    <li>Price : @ViewBag.Product.price</li>
    <li>Description: @ViewBag.Product.Description</li>
    <li>CategoryId: @ViewBag.Product.CategoryId</li>
</ul>

